<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>eventos</title>
</head>
<body>
	<h1>Adicionar eventos</h1>
	<form action="">
		<div>
			<label>nome</label> <input teyp="text" name="nome">
			
		</div>
		<div>
			<label>local</label> <input teyp="text" name="local">
		</div>
		<div>
			<label>data</label> <input teyp="text" name="data">
		</div>
		<div>
			<label>horario</label> <input teyp="text" name="horario">
		</div>
		<button teyp="submite">salva</button>
		<button type="reset">Limpar</button>

	</form>
</body>
</html>